body{
	/*padding-top: 100px;*/
}

#first-cover{
	/*height: 100%;*/
	/*background-color: #808080;*/
}

.sec-container{
	width: 100%;
	display: table;
}

.fl-left{
	float: left;
}

.calculator-container{
	width: 48%;
}