html,body{
	/*padding-top: 100px;*/
	/*max-width: 100%;*/
	overflow-x: hidden;
	padding-bottom: 50px;
}

label{
	font-size: 17px;
	font-family: 微軟正黑體;
}

#first-cover{
	/*height: 100%;*/
	background-color: #00abc7;
	padding: 0;
	width: 100%;
	display: table;
}

#first-cover img{
	display: table;
	margin: auto;
}

#fore-words{
	font-size: 21px;
	color: #808080;
	padding-left: 30px;
	border-left: 2px solid #808080;
	font-family: 微軟正黑體;
	margin-bottom: 30px;
}

.question-mark{
	width: 20px;
	opacity: 0.5;
}

#question-houseinflat{
	opacity: 1;
}

#question-rentinflat{
	opacity: 1;
}

.horizontal-line{
	height: 1px;
	background-color: #808080
}

.sec-container{
	width: 80%;
	display: table;
	margin: 50px auto;
}



.sec-content{
	margin-top: 30px;
}

.sec-sm-title{
	margin-top: 30px;
}

.font-bold{
	font-weight: bold;
}

.fl-left{
	float: left;
}

.mid-title{
	font-size: 34px;
}

.sm-title{
	font-size: 25px;
}

.content-text{
	font-size: 21px;
	line-height: 32px;
}

.static-chart{
	margin-top: 50px;
}

.myfont{
	font-family: 微軟正黑體;
}

.blue-font{
	color: #00abc7;
}

.gray-font{
	color: #999999;
}

#rent-buy-calculator{
	position: relative;
	width: 100%;
	/*font-family: 微軟正黑體;*/
}

#budget-calculator{
	position: relative;
	width: 100%;
}

.insert-value-notice{
	position: absolute;
	left: 55px;
	top: 20px;
	font-size: 25px;
	font-family: 微軟正黑體;
	/*font-weight: bold;*/
}

#budget-notice{
	left: 100px;
}

.house-img{
	display: table;
	margin: auto;
	margin-bottom: -4px;
}

#buy-form{
	width: 100%;
	display: table;
	padding-left: 5%;
	border-top: 1px solid #999999;
	padding-top: 20px;
	padding-bottom: 20px;
}

#rent-form{
	width: 100%;
	display: table;
	padding-left: 5%;
	border-top: 1px solid #999999;
	padding-top: 20px;
	padding-bottom: 20px;
}

.buy-form-blocks{
	width: 50%;
}

.rent-form-blocks{
	width: 50%;
}

#cal-btn-rent-buy-block{
	margin-left: 38%;
}

#cal-btn-rent-buy{
	width: 280px;
	height: 65px;
	font-weight: bold;
	font-family: 微軟正黑體;
	font-size: 30px;
	color: white;
	border-radius: 10px;
	background-color: #00abc7;
}

#cal-btn-rent-buy:hover{
	opacity: 0.7;
}

#rent-buy-result-container{
	background-color: rgba(0,171,199,0.15);
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.tip-block{
	display: table;
	font-size: 17px;
	font-family: 微軟正黑體;
	line-height: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	background-color: rgba(0,171,199,0.15);
}

.tip-title-block{
	display: table;
}

.calculate-results{
	font-size: 17px;
	margin-bottom: 40px;
}

.check-text{
	margin-top: 15px;
}

.result-container{
	width: 50%;
	padding-left: 15%;
}

.dist-chart-container{
	width: 100%;
}

.dists{
	width: 15%;
}

.equal-bar{
	width: 85%;
}

#buy-result{
	border-right: 1px solid #999999;
}

.rent-buy-compare-text{
	display: table;
	margin: auto;
	font-size: 20px;
}

.rent-buy-compare-num{
	display: table;
	margin: auto;
	font-size: 40px;
}

#rent-buy-compare-text-permonth{
	margin-top: 20px;
}

#rent-buy-compare-img{
	display: table;
	margin: auto;
}

#rent-buy-ps{
	font-size: 17px;
	font-family: 微軟正黑體;
	color: #808080;
	line-height: 25px;
	margin-left: 16%;
	/*margin-top: 30px;*/
	display: table;
}

#avg-diff-img{
	display: table;
	margin-top: 20px;
}

#budget-container{
	border-top: 1px solid #999999;
	background-color: rgba(0,171,199,0.15);
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

#budget-tip{
	position: absolute;
	top: 25px;
	right: 50px;
	font-size: 16px;
	color: #00abc7;
}

#budget-result-container{
	background-color: rgba(220,220,220,0.4);
	height: 375px;
	padding-top: 40px;
	display: none;
}

#budget-result{
	font-family: 微軟正黑體;
	font-size: 20px;
}

.budget-big-font{
	font-family: 微軟正黑體;
	font-size: 25px;
	font-weight: bold;
	color: #00abc7;
	margin-left: 5px;
}

#budget-form{
	/*margin: auto;	*/
	/*padding-left: 30%;*/
}

#cal-btn-budget{
	width: 280px;
	height: 65px;
	font-weight: bold;
	font-family: 微軟正黑體;
	font-size: 30px;
	color: white;
	border-radius: 10px;
	background-color: #00abc7;
}

#cal-btn-budget:hover{
	opacity: 0.7;
}

.static-chart img{
	display: table;
	margin: auto;
}

.highchart-nav-container{
	display: table;
	margin: 40px auto;
}

.nav-img{
	cursor: pointer;
}

.nav-option{
	font-size: 22px;
	font-family: 微軟正黑體;
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
	opacity: 0.5;
}

#nav-option-0{
	opacity: 1;
	border-bottom: 2px solid #808080;
}

.ps{
	font-family: 微軟正黑體;
	font-size: 17px;
	color: #808080;
}

.editor-logo-container{
	width: 80%;
	margin: 50px auto 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
	display: table;
}

.editor-src-bot{
	float: left;
	font-size: 17px;
	line-height: 30px;
}

.logo-container{
	float: right;
}

.logos{
	/*width: 150px;*/
	display: table;
}

#newmedia-logo{
	width: 150px;
	margin-right: 10px;
}

#udn-logo{
	width: 150px;
	margin-top: 5px;
}

.like-btn{
	width: 80%;
	margin: auto;
}

.comments{
	width: 80%;
	margin: 40px auto;
}